<?xml version="1.0"?>
<PluginData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="GitHubPlugin">

  <Id>StarCpt/Prism.SSGI</Id>
  <Author>StarCpt</Author>
  <FriendlyName>Screen Space Global Illumination (SSGI)</FriendlyName>
  <Tooltip>Adds single-bounce screen space diffuse global illumination.</Tooltip>

  <Commit>dev folder use only</Commit>

  <Description>Adds single-bounce screen space diffuse global illumination.

This is a gpu-heavy plugin, and you will experience a significant drop in fps when it is enabled. Various parameters can be changed in Anomaly Shaders → SSGI → Settings (Rich HUD) or the Pulsar config dialog, including quality presets and GI intensity.

Sampling is based on the SSILVB algorithm with a modified SVGF denoiser. Requires Anomaly Shader Framework.</Description>

  <DependencyIds>
    <Id>A9C29274-E447-49EE-881B-C980E6D190FD</Id>
  </DependencyIds>

  <SourceDirectories>
    <Directory>ClientPlugin</Directory>
  </SourceDirectories>

  <AssetFolder>ClientPlugin/Shaders</AssetFolder>
  <Asset Name="AssetFolder" Path="ClientPlugin/Shaders" />
  <Asset Name="AnomalyPack" Path="Assets/AnomalyPack" />

</PluginData>
